@import url(//db.onlinewebfonts.com/c/e127ebd29429bfc7b8fb5cf1b1626f26?family=Morpheus);
@font-face {
  font-family: "Morpheus";
  src: url("//db.onlinewebfonts.com/t/e127ebd29429bfc7b8fb5cf1b1626f26.eot");
  src: url("//db.onlinewebfonts.com/t/e127ebd29429bfc7b8fb5cf1b1626f26.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e127ebd29429bfc7b8fb5cf1b1626f26.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e127ebd29429bfc7b8fb5cf1b1626f26.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e127ebd29429bfc7b8fb5cf1b1626f26.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e127ebd29429bfc7b8fb5cf1b1626f26.svg#Morpheus")
      format("svg");
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #1C1D18; 
}
header {
  display: flex; 
  overflow-x: hidden; 
}
.navbar{
  background-color: #1C1D18 !important; 
  color: #FCE080 !important;
  font-family: Morpheus !important;  
  min-height: 50px; 
  min-width: 375px ! important; 
  overflow-x: hidden ! important; 
  border: 2px solid #EEB61A; 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;   
}
.navbar-toggler-icon {
  color: #EEB61A !important; 
}
.BookEndBrand {
  max-height: 65px;  
  max-width: 15px; 
  min-height: 45px; 
  min-width: 20px; 
}
.BookendTwo {
  max-height: 65px;  
  max-width: 15px; 
  min-height: 45px; 
  min-width: 20px; 
}
.navbar-brand {
  color: #FCE080 !important; 
}
a {
  color: #FCE080 !important; 
}
main { 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    background-color: #1C1D18;
}
.HomerouterContainer {
  display: flex; 
  justify-content: center; 
  margin-top: 50px; 
}
.MobileHomepageBase {
    background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593293511/Mobile_Home_Base_2_clerfo.png');
    min-height: 640px; 
    max-height: 640px;
    min-width: 375px; 
    max-width: 375px; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.MobileHomepageAnimation { 
    background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593293888/Mobile_Home_Animation_Layer_f9l55w.png');
    min-height: 640px; 
    max-height: 640px; 
    min-width: 375px; 
    max-width: 375px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    animation: glow3 1.5s alternate infinite; 
}
.AboutFirstLayer {
    background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593309461/About_first_layer_mobile_1_nfpwwc.png');
    min-height: 640px; 
    max-height: 640px; 
    min-width: 375px; 
    max-width: 375px; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.Aboutroutercontainer {
  display: flex; 
  justify-content: center; 
  background-size: cover; 
  background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593392149/wallpaper-2292997_okqyok.jpg')
}
.AboutAnimationLayer {
    background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593309470/About_second_layer_mobile_h0rzx2.png');
    min-height: 640px; 
    max-height: 640px;
    min-width: 375px; 
    max-width: 375px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    animation: glow3 1.5s alternate infinite; 
}
.BookListContainer {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  margin-top: 60px; 
}
.ShelfAnimationContainer {
  background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593381159/dark-wood-texture_opyudw.jpg'); 
  display: flex; 
  justify-content: center; 
  border: none; 
}
.BookChains {
  min-height: 400px; 
  max-height: 400px; 
  min-width: 375px; 
  max-width: 375px; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593390502/BookList_base_mobile_2_oe4qaj.png');
  margin-bottom: 10px; 
  
}
 .ShortChain {
  position: relative; 
  top: 120px;
  left: 233px; 
  animation: swinging 1.5s ease-in-out infinite; 
  transform-origin: top center; 
}
.LongChain {
  position: relative; 
  top: 216px; 
  left: -111px; 
  animation: swinging2 1s ease-in-out infinite; 
  transform-origin: top center; 
}
.LongChain2 {
  position: relative; 
  top: 205px; 
  left: -78px; 
  animation: swinging2 1.5s ease-in-out infinite; 
  transform-origin: top center; 
}
.LongChain3 {
  position: relative; 
  top: 180px; 
  left: -78px; 
  animation: swinging2 1.5s ease-in-out infinite; 
  transform-origin: top center; 
}
.LongChain4 {
  position: relative; 
  top: 199px; 
  left: -40px;  
  animation: swinging2 1.5s ease-in-out infinite; 
  transform-origin: top center; 
}
@keyframes swinging{
  0%{transform: rotate(4deg);}
  10%{transform: rotate(3deg);}
  20%{transform: rotate(1deg)}
  30%{transform: rotate(-1deg)}
  40%{transform: rotate(-3deg)}
  50%{transform: rotate(-4deg)}
  60%{transform: rotate(-3deg)}
  70%{transform: rotate(-1deg)}
  80%{transform: rotate(1deg)}
  90%{transform: rotate(3deg)}
  100%{transform: rotate(4deg);}
}
@keyframes swinging2 {
  0%{transform: rotate(-2deg);}
  10%{transform: rotate(-1.5deg);}
  20%{transform: rotate(-0.5deg)}
  30%{transform: rotate(0.5deg)}
  40%{transform: rotate(1.5deg)}
  50%{transform: rotate(2deg)}
  60%{transform: rotate(1.5deg)}
  70%{transform: rotate(0.5deg)}
  80%{transform: rotate(-0.5deg)}
  90%{transform: rotate(-1.5deg)}
  100%{transform: rotate(-2deg);}
}
@keyframes glow3 {
    0%{ opacity: 0.2;}
    5%{ opacity: 0.2;}
    10%{ opacity: 0.3;}
    15%{ opacity: 0.3;}
    20%{ opacity: 0.4;}
    25%{ opacity: 0.5;}
    30%{ opacity: 0.6;}
    35%{ opacity: 0.7;}
    40%{ opacity: 0.8;}
    45%{ opacity: 0.9;}
    50%{ opacity: 1.0;}
    55%{ opacity: 0.9;}
    60%{ opacity: 0.8;}
    65%{ opacity: 0.7;}
    70%{ opacity: 0.6;}
    75%{ opacity: 0.5;}
    80%{ opacity: 0.4;}
    85%{ opacity: 0.3;}
    90%{ opacity: 0.3;}
    95%{ opacity: 0.2;}
    100%{ opacity: 0.2;}
}
.FavoritesInstructions {
  background-color:  #1C1D18;
  padding: 20px; 
  border: 1px solid #EEB61A; 
}
.TextFavoritesInstructions {
  font-family: Morpheus; 
  color: #EEB61A;
}
.SoiFChronology {
  color: #EEB61A; 
  font-size: 14px; 
}
.ListANDSpotlight {
  display: flex;
  justify-content: space-around;
  background-image: url('https://res.cloudinary.com/dgmpgmo60/image/upload/v1593381159/dark-wood-texture_opyudw.jpg'); 
  padding-top: 20px; 
}
.BookWrapper {
  background-image: url("https://res.cloudinary.com/dgmpgmo60/image/upload/v1593461394/Bookcoverrevision_ecuck2.png");
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  z-index: -3;
}
.BookTitleWrapper {
  position: relative;
  top: 85px; 
  left: 64px;
  background-color: none;
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  z-index: 1;
}
.BookTitle {
  font-size: 18px;
  font-family: Morpheus;
  z-index: 2;
}

.MobileButton {
  max-height: 30px;
  z-index: 3;
  position: relative;
  top: 180px;
  font-family: Morpheus;
  font-weight: bold;
  font-size: 15px;
  left: -45px;
  background-color: #f9ad4f;
  border-radius: 8px;
  border: solid 2px #742d33;
}

.Spotlight {
  display: none; 
  margin-top: 10%;
  border: solid 3px #742d33;
  min-height: 200px;
  max-height: 440px;
  border-radius: 10px;
}
.Spotlight p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.BookWrapper2 {
  background-image: url("https://res.cloudinary.com/dgmpgmo60/image/upload/v1593461394/Bookcoverrevision_ecuck2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 270px;
  max-height: 500px;
  z-index: 3;
  max-width: 150px;
  min-width: 240px;
}

.SpotlightBookName {
  font-family: Morpheus;
}

.SpotlightDetailsContainer {
  border: 2px solid #742d33;
  position: relative;
  top: 77px;
  left: 44px;
  font-family: Morpheus;
  font-weight: bold;
  font-size: 15px;
  max-width: 140px;
  min-height: 90px;
  border-radius: 6px;
}
.AdditionalDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.ISBN {
  font-size: 12px;
}

.MobileButton2 {
  max-height: 30px;
  z-index: 3;
  position: relative;
  font-family: Morpheus;
  font-weight: bold;
  font-size: 15px;
  top: 20px;
  background-color: #f9ad4f;
  border-radius: 8px;
  border: solid 2px #742d33;
}
.FavoritesContainer {
  min-height: 300px;
  min-width: 100px;
}
.Favelist {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  margin-top: 100px; 
  min-height: 100vh; 
}
.BookDisplaySwitch {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  background-color: #1C1D18; 
  margin-left: 20px; 
  margin-right: 20px;
  border-radius: 10px; 
  border: 5px solid #f9ad4f;  
  margin-bottom: 50px; 
}
.BooksToDisplay {
  display: flex; 
  flex-direction: column; 
}
.BookWrapper3 {
  background-image: url("https://res.cloudinary.com/dgmpgmo60/image/upload/v1593461394/Bookcoverrevision_ecuck2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 270px;
  max-height: 500px;
  z-index: 3;
  max-width: 150px;
  min-width: 240px;
  margin: 0%; 
  align-self: center; 
}
.FavesDetailsContainer {
 color: black; 
  position: relative;
  top: 83px; 
  left: 45px; 
  font-family: Morpheus;
  font-weight: bold;
  font-size: 15px;
  max-width: 140px;
  min-height: 90px;
  border-radius: 6px;
}
.FavesBookName {
color: black; 
}
.FaveBookName {
color: black; 
font-family: Morpheus; 
}
.FaveAuthor {
color: black; 
}
.AdditionalFaveDetails {
color: #f9ad4f;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-size: 18px;
justify-content: space-around;
margin-left: 10%;
margin-right: 10%;
margin-top: 2%;
min-height: 200px; 
}
.AdditionalFaveDetails button{
margin-top: -40px; 
}
.AdditionalFaveDetails p {
  margin-bottom: -10px; 
  margin-top: -40px; 
  font-family: Morpheus; 
  font-size: 20px; 
}
.FavoritesHeaderNew {
  color: #EEB61A;
  font-family: Morpheus; 
  font-size: 30px; 
}